@model NatureNexus.Models.CreatePark

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="row center-align">
                <form method="post" asp-controller="Park" asp-action="Edit">
                    <div class="input-field col s12">
                        <h4 class="center-align">Know about a new park but cant find here?</h4>
                        <h5 class="center-align">Share the details and help us enrich our knowledge-base</h5>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="XYZ National Park" asp-for="fullName" type="text" class="validate">
                        <label asp-for="fullName">Name of the Park</label>
                        <span asp-validation-for="fullName" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="pcd" asp-for="parkCode" type="text" class="validate">
                        <label asp-for="parkCode">Name of the Park</label>
                        <span asp-validation-for="parkCode" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="https://www.examplepark.com" asp-for="url" type="text" class="validate">
                        <label asp-for="url">URL of the Park Website</label>
                        <span asp-validation-for="url" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <textarea asp-for="description" class="materialize-textarea"></textarea>
                        <label asp-for="description">Description of the Park</label>
                        <span asp-validation-for="description" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <select multiple asp-for="statenames">
                            @foreach (var item in ViewBag.statedict.Keys)
                            {
                                <option value="@item">@ViewBag.statedict[item]</option>
                            }
                        </select>
                        <label asp-for="statenames">State</label>
                        <span asp-validation-for="statenames" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <select multiple asp-for="activitynames">
                            @foreach (var item in ViewBag.anames)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <label asp-for="activitynames">Activities Supported</label>
                        <span asp-validation-for="activitynames" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <select multiple asp-for="topicnames">
                            @foreach (var item in ViewBag.tnames)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <label asp-for="topicnames">Related Topics</label>
                        <span asp-validation-for="topicnames" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Confirm Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>